<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Tool runs in TEST or PROD mode.-->
    <add key="Mode" value="PROD"/>
    <!--Remote Paths for sFTPs-->
    <add key="RemotePathLimitFileMvvSftp" value="/Handel/Trade_Konfig/Limit_VSK_15Min.xlsx"/>
    <add key="RemotePathLoadFileMvvSftpPROD" value="/Handel/Intraday_qh/"/>
    <add key="RemotePathLoadFileMvvSftpTEST" value="/Handel/Intraday_qh/"/>
    <add key="RemotePathLikronSftpPROD" value="/Mvv/in/Orderimport/VPP_QH/"/>
    <add key="RemotePathLikronSftpDEV" value="/Mvv/in/Orderimport/VPP_QH_TEST/"/>
    <add key="RemotePathLikronSftpSmaller30MinPROD" value="/Mvv/in/Orderimport/VPP_QH_TUD/"/>
    <add key="RemotePathLikronSftpSmaller30MinDEV" value="/Mvv/in/Orderimport/VPP_QH_TUD_TEST/"/>
    <!-- Credentials sFTP limit-file -->
    <add key="HostSftpLimitFile" value="ma-sftp"/>
    <add key="UserSftpLimitFile" value="VSK_Trading_VTD"/>
    <add key="PasswordSftpLimitFile" value="xk0DklN/eyOsB6MY5Oh10Q=="/>
    <add key="PortSftpLimitFile" value="22"/>
    <add key="SshKeySftpLimitFile" value="ssh-rsa 4096 pMyo+bz46CGLp3b73t6lh+d2QJkj95DiujHLiCwQwKY="/>
    <!-- Credentials sFTP load-file -->
    <add key="HostSftpLoadFile" value="ma-sftp"/>
    <add key="UserSftpLoadFile" value="VSK_emsys_Trading"/>
    <add key="PasswordSftpLoadFile" value="neFx8UkFWhIjSFaE9F+/1Q=="/>
    <add key="PortSftpLoadFile" value="22"/>
    <add key="SshKeySftpLoadFile" value="ssh-rsa 4096 pMyo+bz46CGLp3b73t6lh+d2QJkj95DiujHLiCwQwKY="/>
    <!-- Credentials Likron sFTP Prod-->
    <add key="HostLikronSftpPROD" value="sftp-prod.ffm1.likron.com"/>
    <add key="UserLikronSftpPROD" value="mvv-prod"/>
    <add key="PasswordLikronSftpPROD" value="yeTix0HdI9vuN/wEAULwTHtvMdvHQzfy0YtSOa+DsEc="/>
    <add key="PortLikronSftpPROD" value="22"/>
    <add key="SshKeyLikronSftpPROD" value="ssh-rsa 2048 e1:b4:f6:26:c1:c3:cb:05:b2:46:b0:4d:54:10:9c:45"/>
    <!-- Credentials Likron sFTP Test-->
    <add key="HostLikronSftpTEST" value="sftp-prod.ffm1.likron.com"/>
    <add key="UserLikronSftpTEST" value="mvv-prod"/>
    <add key="PasswordLikronSftpTEST" value="yeTix0HdI9vuN/wEAULwTHtvMdvHQzfy0YtSOa+DsEc="/>
    <add key="PortLikronSftpTEST" value="22"/>
    <add key="SshKeyLikronSftpTEST" value="ssh-rsa 2048 e1:b4:f6:26:c1:c3:cb:05:b2:46:b0:4d:54:10:9c:45"/>
    <!-- Path to Comtrader Export File PROD-->
    <add key="PathComtraderExportPROD" value="T:\24-7-Trading\24-7-Trading\VTO\001_Strom\001a_Handel\001b_Export\eex_deals_export.csv"/>
    <!-- Path to Comtrader Export File TEST-->
    <add key="PathComtraderExportTEST" value="T:\24-7-Trading\24-7-Trading\VTO\001_Strom\001a_Handel\001b_Export\test\eex_deals_export.csv"/>
    <!-- Database Connection String PROD BASE(" is &quot;)-->
    <add key="ConnectionStringPROD" value="Data Source=&quot;(DESCRIPTION = (ADDRESS = (PROTOCOL = tcp)(HOST = hvkhsprdb)(PORT = 1521))(CONNECT_DATA = (SID = khsprdb)))&quot;;User ID=VTool;Password=XSjqmGd/KYvERtXDzSVO6EKuaMZUtdQt8kYAdPxnHHw="/>
    <!-- Database Connection String TEST BASE(" is &quot;)-->
    <add key="ConnectionStringTEST" value="Data Source=&quot;(DESCRIPTION = (ADDRESS = (PROTOCOL = tcp)(HOST = VKHST2B)(PORT = 1521))(CONNECT_DATA = (SID = khst2b)))&quot;;User ID=VTool;Password=ZCc4BG9ZcaK+ihLrHwtPiT6JFte7hOBrYbvE7tetti4="/>
    <!-- Database Connection String PROD STT(" is &quot;)-->
    <add key="ConnectionStringSttPROD" value="Data Source=&quot;(DESCRIPTION = (ADDRESS = (PROTOCOL = tcp)(HOST = hVKHSPrdNB)(PORT = 1521))(CONNECT_DATA = (SID = khsprdnb)))&quot;;User ID=VTool;Password=GF2VhOL6AbBXJOjIwzU2ffWB5TbaCK7FHR9AxRvk3bU="/>
    <!-- Database Connection String TEST STT(" is &quot;)-->
    <add key="ConnectionStringSttTEST" value="Data Source=&quot;(DESCRIPTION = (ADDRESS = (PROTOCOL = tcp)(HOST = VKHST2NB)(PORT = 1521))(CONNECT_DATA = (SID = khst2nb)))&quot;;User ID=VTool;Password=qVjm5ItwzbkJ4pSnut4yu9eBWHubmeNuE7W00yrNDTM="/>
    <!-- E-Mail addresses PROD-->
    <add key="MailInCaseOfErrorPROD" value="operations@mvv.de"/>
    <!-- E-Mail addresses TEST-->
    <add key="MailInCaseOfErrorTEST" value="marc.fischer@mvv.de"/>
    <!-- Credentials File Name Aligne TEST-->
    <add key="CredetialsFileNameTEST" value="UserSettingsDEV"/>
    <!-- Credentials File Name Aligne PROD-->
    <add key="CredetialsFileNamePROD" value="UserSettingsPROD"/>
    <!-- Import Server TEST-->
    <add key="ImportServerTEST" value="MA-TR-KHST41"/>
    <!-- Import Server PROD-->
    <add key="ImportServerPROD" value="MA-TR-KHSP41"/>
  </appSettings>
</configuration>
