<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VSK_LimitOrders_15min.My.MySettings._15Min_DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=T:\24-7-Trading\24-7-Trading\VTO\009_Development\15Min\15Min_DB.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="intraday_qh__sftp" value="/Handel/Intraday_qh" />
    <add key="likron_qh_ablage_pfad" value="T:\24-7-Trading\24-7-Trading\VTO\008_Tools\008b_LIKRON\sFTP-Meldungen" />
    <add key="vorlagen_pfad" value="T:\24-7-Trading\24-7-Trading\VTO\001_Strom\001a_Handel\001b_Vorlagen\" />
    <add key="vv_limit_vorlage_pfad" value="/Handel/Trade_Konfig/Limit_VSK_15Min.xlsx" />
    <add key="iopt_access_db" value="T:\24-7-Trading\24-7-Trading\VTO\006_Reporting\006b_END_of_DAY\ENDOFDAY_6_3.mdb" />
    <add key="15min_vsk_pfad" value="T:\24-7-Trading\24-7-Trading\VTO\009_Development\15Min" />
    <add key="log_pfad" value="T:\24-7-Trading\24-7-Trading\VTO\009_Development\AligneMigration1\logs" />
    <add key="config" value="T:\24-7-Trading\24-7-Trading\VTO\008_Tools\008k_config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>